#blue-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.btn-all{
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 75%;
  background-color: rgb(245, 245, 245);
}
.btn-dogs{
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 75%;
background-color: rgb(255, 96, 96);
}
.btn-cats{
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 75%;
  background-color: orange;
}
.btn-dino{
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 75%;
  background-color: rgb(255, 255, 95);
}
.font-1{
  
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Poppins;
  font-weight: bold;
  align-items: center; 
}


.font-2{
  margin-top: 50px; 
  margin-bottom: 1%;
  font-size: smaller;
 
}

.section{
  display: flex;
  flex-wrap: wrap;
  flex-direction:  column;
  align-items: center;

  background-color: rgb(224, 224, 224);
}
