#blue-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}
.btn-section{
  display: flex;
  flex-wrap: wrap;
  flex-direction:  row;
  justify-content: space-evenly;
  margin-top: 2%;
}
.btn-all{
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 20%;
  background-color: rgb(245, 245, 245);
}
.btn-dogs{
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 20%;
background-color: rgb(96, 160, 255);
}
.btn-cats{ 
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 20%;
  background-color: rgb(245, 245, 245);
}
.btn-dino{
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 20%;
  background-color: rgb(96, 160, 255);
}
.font-1{
  
  margin-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: Poppins;
  font-weight: bold;
  align-items: center; 
}


.font-2{
  margin-top: 50px; 
  margin-bottom: 3%;
  font-size: smaller;
 
}

.section{
  display: flex;
  flex-wrap: wrap;
  flex-direction:  column;
  align-items: center;
  color: white;
  text-shadow: rgb(120, 120, 120) 1px 1px;
  background-color: rgb(107, 193, 255);
}
